*{
  margin: 0;
  padding: 0;
}
.nav-container{
  background-color: rgba(0, 0, 0, 0.486);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  list-style: none;
}
.logo-photo{
  width: 120px;
}
.menus{
  display: flex;
  
}
.item{
  margin-right: 10px;
  padding-right: 8px;
  font-size: 16px;
  cursor: pointer;
}
.item:hover{
  color: rgba(0, 0, 255, 0.589);
}
.banner-img{
  width: 300px;
}
.banner-container{
  display: flex;
  height: 100vh;
  /* border: 2px solid gray; */
  align-items: center;
  justify-content: space-around;
  color: white;
  background-image: url("./img/background.png"),linear-gradient(45deg,rgba(0, 0, 0, 0.911),rgba(0, 0, 0, 0.959))
  
}
.title{
  font-size: 55px;
  font-weight: bold;
}
.description{
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px ;
  /* animation-delay: 0.5s; */
}
.btn{
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* animation-delay: 1s; */
}
.btn:hover{
  background-color: brown;
}
/* .anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
} */
.about-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 10px;
}
.about-title{
  text-align: center;
  padding-top: 15px ;
  
}
.box{
  width: 230px;
  height: 290px;
  box-shadow: 4px 4px 15px gray;
  background-color: black; 
  text-align: center; 
  padding: 15px;
  color: white;
}
.icon{
  width: 70px;
}
.box-btn{
  background-color: gray;
  margin-top: 10px;
}
.box-title{
  padding: 10px;
}
.box-description{
  padding: 5px;
}
.service-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-image: url("./img/background.png"),linear-gradient(45deg,rgba(0, 0, 0, 0.911),rgba(0, 0, 0, 0.959));
}
.footer-1{
  height: 240px;
  width: 150px;
  /* background-color: black; */
  text-align: center;
  padding-top: 65px;
  color: white;
}
.footer-desc{
  margin: 8px;
}
.footer{
  display: flex;
  background-color: rgba(0, 0, 0, 0.945);
  color: white;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  
}
/* .footer .footer-1 .item{
   margin-top: 10px;
} */
.footer-title{
  margin-bottom: 30px;
}
.footer-1{
  margin-left: 120px;
}
.footer-4{
  margin-right: 120px;
}
.item-2{
  margin-bottom: 12px;
}
.footer-title{
  font-size: 20px;
  
}
.item-3{
  margin-bottom: 12px;
}
.item-4{
  margin-bottom: 12px;
}



